body{
	background-color: #EEEEEE;
	background-image: url(../img/fondo.png);
	background-position: top left;
	background-repeat: repeat;
	margin: 0;
}
.contenido{
	width: 1024px;
	margin: 0 auto;
}
.info{
	background: #232323;
	margin: 0;
	color: #fff;
}
.info p{
	padding:5px 0;
}
/*--------------HEADER----------------------------*/
.vat{
	display: inline-block;
	vertical-align: top;
}
nav{
	width: 75%;
	margin-top: 10px;
}
nav ul li{
	display: inline-block;
	vertical-align: top;
	width: 23.5%;
	padding: 15px 0;
	text-align: center;
	margin-right: -7px;
	cursor: pointer;
}
nav ul li a i, h2 i{
	margin-right: 10px;
}
nav ul li:hover{
	opacity: .8;
	background: #1e1e1e;
}
nav ul li a{
	color: #fff;
	text-decoration: none;
	font-size: 1.1em;
}
header{
	background: #333;
}
figure{
	padding: 0;
	margin: 10px 0 10px 25px;
}
/*-------------CONTENIDO---------------------*/
.cont{
	padding: 10px 30px;
}
.titulos{
	background: #4a89dc;
	border-bottom: 7px solid #2361B4;
}
.titulos h2{
	color: #fff;
	font-size: 1.2em;
	padding: 3px 0px 3px 15px;
}
.titulo_venta{
	background: #da4453;
	border-bottom: 7px solid #C42636;
}
.agregar_producto{
	text-align: center;
	width: 40%;
	margin: 0 auto;
}
.btn{
	background: #4a89dc;
	padding: 5px 10px;
	color: #fff;
	border-bottom: 4px solid #2361B4;
	cursor: pointer;
	text-decoration: none;
}
.resultados{
	text-align: right;
}
.eliminar{
	text-align: center;
	display: block;
}
.total{
	
	font-weight: bold;

}
.titulo_venta{
	background: #da4453;
	border-bottom: 7px solid #C42636;
}
.lista_art{
	width:75%;
}
.venta{
	width: 23%;
}
.totales{
	margin-bottom: 25px;
}
.form_input{
	display: block;
	width: 60%;
	height: 25px;
	margin: 7px 0;
	font-size: 15px;
	padding: 5px 0 5px 10px;
	display: block;
	padding: 8px 12px;
	font-size: 15px;
	line-height: 1.4;
	color: #6f6f6f;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #cccccc;
	border-radius: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
